[submodule "iraquitan-dotfiles-yadm/.config/zsh/zplug"]
	path = iraquitan-dotfiles-yadm/.config/zsh/zplug
	url = https://github.com/zplug/zplug.git
[submodule "iraquitan-dotfiles-yadm/.config/tmux/plugins/tpm"]
	path = iraquitan-dotfiles-yadm/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
